<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.dmandp.tt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:name="cn.dmandp.context.TtApplication"
        android:allowBackup="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="cn.dmandp.tt.action.LOGINACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="cn.dmandp.tt.action.MAINACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConversationActivity"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="cn.dmandp.tt.action.CONVERSATIONACTIVITY" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="conversation"
                    android:scheme="ttim" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="cn.dmandp.tt.action.REGISTERACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PersonInfoActivity">
        </activity>
        <activity android:name=".NewFriendActivity">
        </activity>
        <activity android:name=".AboutActivity">
        </activity>
        <service
            android:name="cn.dmandp.service.MessageService"
            android:enabled="true">
        </service>
    </application>
</manifest>